.black-card {
    background-color: $color_dark;
    color: $color_white;
    padding: 2em;
    border-radius: 10px;
    @include box-shadow();

}

.row {
    margin: 0 !important;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: $color_dark;
}

main {
    overflow: hidden;

    section {
        width: 100%;
        min-height: 100vh;
    }
}

.yellow-decoration {
    color: $color_yellow;
}

.bg-darker {
    background-color: $color_darker;
}