#Contacto {
    background-color: #393E46;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23ffd369' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23fca075' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23ffbd6b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23e98981' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23ffa971' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23cb7889' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23f79879' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23a66c89' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23e98981' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23806281' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23d67d87' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%235e566f' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-size: cover;
    background-position: right center;
    padding: 6em 1em 2em 1em;

    .header {
        margin: 1em 0;
        text-align: center;
        font-size: $font_size_xl;
        color: $color_white;
    }

    .social-networks-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        li {
            margin: 2em;
        }
    }
}