@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
	font-family: 'Oswald', sans-serif;
}

$font_size_xs: 0.5rem;
$font_size_s: 1rem;
$font_size_m: 1.5rem;
$font_size_l: 2rem;
$font_size_xl: 2.5rem;
$font_size_xxl: 3rem;
$font_size_xxxl: 4rem;
