#Herramientas {
    background-color: #fca075;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23fca075' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23d67d87' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%239a6887' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%235e566f' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23393E46' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-position: bottom center;
    background-repeat: repeat;
    padding: 6em 1em 2em 1em;


    .header {
        margin: 1em 0;
        text-align: center;
        font-size: $font_size_xl;
    }

    article {
        h3 {
            font-size: $font_size_l;
            text-align: right;
            background-color: $color_dark;
            color: $color_white;
            border-radius: 10px;
            padding: 0.5em;
            @include box-shadow();
        }
    }

    .tool-list {
        text-decoration: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;

        .tool-item {
            @include box-shadow();
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 10em;
            height: 10em;
            padding: 1em;
            margin: 1em;
            background-color: $color_yellow;
            border-radius: 100%;
            transition: all 0.3s;

            img {
                display: inline-block;
                height: 5em;
                text-align: center;
            }

            span {
                display: inline-block;
                width: 100%;
                text-align: center;
                font-size: $font_size_m - 0.2rem;
            }

            &:hover {
                transition: transform 0.2s;
                transform: scale(1.1);
            }
        }
    }
}

@media screen and (max-width: 992px) {
    #Herramientas {
        article {
            h3 {
                text-align: center;
            }
        }

        .tool-list {
            justify-content: center;
        }

        .tool-item {
            justify-content: center;
        }
    }
}